@import url("https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap");
    body {
      background-color: white;
      color: black;
      font-family: serif;
      font-family: "Kelly Slab";
    }
    h1 {
      font-weight: bold;
      letter-spacing: 2px;
    }
    p{
      font-size: 18px; 
    }
    img{
      width: 300px;
    }
    center {
      width:100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 80%;
      margin: auto;
      position: absolute;
    }
